@charset "utf-8";
html, body {
    overflow-x: hidden;
}

html {
    font-size: 100px;
}

#main {
    width: 6.4rem;
    height: 9.6rem;
}

img {
    display: block;
}

#main ul li {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #fff;
    display: none;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: #1f1f1f;
}

#main ul li.zIndex {
    z-index: 6;
}

#main ul li:nth-of-type(1) {
    display: block;
}

/*base end*/
/*content start*/
.p1_top {
    position: relative;
    top: -0.6rem;
    animation: bounceInLeft 1.5s ease 0s 1 both;
}

.p1_bottom {
    position: absolute;
    bottom: 0;
    width: 102%;
    left: -0.03rem;
    animation: bounceInRight 1.5s ease 0s 1 both;
}

.p1_arr {
    display: block;
    width: 0.9rem;
    height: 0.52rem;
    z-index: 20;
    position: absolute;
    left: 50%;
    margin-left: -0.45rem;
    bottom: 0.5rem;
    animation: 1s infinite arrMove; /*让箭头动起来*/
}

@keyframes arrMove {
    0% {
        transform: translateY(60px);
        opacity: 0
    }
    50% {
        transform: translateY(30px);
        opacity: 0.8
    }
    100% {
        transform: translateY(0);
        opacity: 0
    }
}

@-webkit-keyframes arrMove {
    0% {
        transform: translateY(60px);
        opacity: 0
    }
    50% {
        transform: translateY(30px);
        opacity: 0.8
    }
    100% {
        transform: translateY(0);
        opacity: 0
    }
}

.p2_top {
    margin: auto;
    margin-top: 4%;
    animation: bounceInLeft 1s ease 0.2s 1 both;
}

#p2_wrapper {

    text-align: center;

}

.p2_content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.9rem;
    margin-top: -3.1rem;
    width: 5.83rem;
    height: 6.27rem;
    animation: bounceInRight 1s ease 0.8s 1 both;
}

/*.p2_content p{*/
/**/
/*position: absolute;*/
/*left: 0.5rem;*/

/*}*/

.p2_bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: bounceInLeft 1s ease 1.6s 1 both;
}

.p3_top {
    margin: auto;
    margin-top: 0.5rem;
}

.p3_all {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.15rem;
    margin-top: -2.8rem;
    width: 4.29rem;
    height: 5.18rem;
    animation: rotateIn 1.8s ease 1s 1 both;
}

.p3_bottom {
    position: absolute;
    bottom: -5%;
    animation: bounceInRight 1s ease 0.8s 1 both;
}

.p4_top {
    margin: auto;
    margin-top: 10%;
    animation: bounceInLeft 1s ease 0.5s 1 both;
}

.p4_woshou {
    margin: auto;
    margin-top: 8%;
}

.p4_bg {
    position: absolute;
    bottom: 2rem;
    margin: auto;
    width: 100%;
}

.p4_words {
    width: 100%;
    text-align: center;
    padding-top: 0.2rem;
    line-height: 1.4rem;
    position: absolute;

}

.p4_woshou {
    margin-top: -5%;
}

.quanzhan {
    font-size: 0.4rem;
    animation: bounceInRight 1.5s ease 1.2s 1 both;
}

.fendou {
    color: rgb(255, 202, 16);
    animation:  bounceInLeft 1.5s ease 2.0s 1 both;

}

.ganxie {
    font-size: 0.4rem;
    animation: bounceInRight 1.5s ease 2.8s 1 both;
}

.tel{
    font-size: 0.4rem;
    animation: bounceInLeft 1.5s ease 3.6s 1 both;
    color: rgb(255, 202, 16);
}

@keyframes imgActive {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes imgActive {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/*自动播放音乐*/
.music {
    display: none;
    z-index: 20;
    position: absolute;
    right: 8%;
    top: 1rem;
    width: 0.36rem;
    height: 0.36rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.musicMove {
    -webkit-animation: musicMove 1s linear 0s infinite;
    animation: musicMove 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.music audio {
    display: none;
}





